@model PI_PorrtabilidadeWebOkPrrojetos.Models.OrdRecebimento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrdRecebimento <input asp-for="Id" disabled /></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NumeroNf" class="control-label"></label>
                <input asp-for="NumeroNf" class="form-control" />
                <span asp-validation-for="NumeroNf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDeRecebimento" class="control-label"></label>
                <input asp-for="DataDeRecebimento" class="form-control" />
                <span asp-validation-for="DataDeRecebimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDeCriacao" class="control-label"></label>
                <input asp-for="DataDeCriacao" class="form-control" disabled />
                <span asp-validation-for="DataDeCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UltimaModificacao" class="control-label"></label>
                <input asp-for="UltimaModificacao" class="form-control" disabled />
                <span asp-validation-for="UltimaModificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
