@{
    ViewData["Title"] = "Contatos e Informações";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h3 class="display-6">Informações do Projeto</h3>
    <p>Projeto GitHub : <a href="https://github.com/Sizamux/PI-PortabilidadeWebOkProjetos">/Sizamux/PI-PortabilidadeWebOkProjetos</a></p>
    <br />
    <h3 class="display-6">Integrante</h3>
    <p>
        Danniele Marini
        <br />Email : dannymarinifox@gmail.com
        <br />Linkedin : <a href="https://www.linkedin.com/in/danniele-marini-5b962597/">/danniele-marini-5b962597</a>
    </p>
    <p>
        Keila Campos Soares da Silva
        <br />Email : XxXx@xXxx.com
        <br />Linkedin : <a href="https://www.linkedin.com/in/keila-soares-6100b3276/">/keila-soares-6100b3276</a>
    </p>
</div>
