@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema Financeiro </h1>
    <p>
        Sejam bem vindos ao Sistema de controle financeiro desenvolvido para a empresa <a href="http://www.okprojetos.com.br/">OkProjetos</a>
        <br />Aqui Você pode criar e atualizar dados Serviços relacionado aos projetos,
        <br />adicionar e manejar diversos itens a cada Serviço,
        <br />e cadastrar e acompanhar as Notas Fiscais emitidas para empresas.
    </p>
    <p>Este Sistema utiliza tecnologia .Net, C#, Identity e EntityFramework
        <br />
    </p>
</div>


